* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'myfont';
  src: url("../src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf")format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'myfont';
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}
.container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  margin: 0px;
  padding: 20px;
  color: white;
  background-color: hsl(0, 0%, 12%);
  gap: 10px;
}

.container > :nth-child(2) {
  align-self: center; 
  margin: auto 0; 
  font-weight: bold;
}
.container > :nth-child(3) {
  align-self: center;
  margin: auto 0;
}
.container > :nth-child(4) {
  align-self: center;
  margin: auto 0;
}
.container > :nth-child(5) {
  margin-left: 10px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  margin: 10px 10px 10px 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;

}
.ul-items {
  margin: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  
}

li {
  width: 100%; 
  border: 1px solid hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 20%);
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px; 
  box-sizing: border-box; 
  text-align: center; 
  margin: auto;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;

}
li:hover{
  color: hsl(75, 94%, 57%);
}
.green-p{

  color: hsl(75, 94%, 57%);

}



/* Mobile styles (up to 375px) */
@media (max-width: 375px) {
  .container{
    width: 100%;
    height: auto;
  }
}

/* Desktop styles (1440px and above) */
@media (min-width: 1440px) {
  .container{
    width: 100%;
    height: auto;
  }
  
}

