:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "myfont";
  src: url("../src/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "myfont";
  background-color: hsl(0, 0%, 8%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: hsl(0, 0%, 12%);
  gap: 10px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

h2 {
  margin: 10px 0;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

.green-p {
  color: hsl(75, 94%, 57%);
}

.ul-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

li:hover {
  background-color: hsl(75, 94%, 57%);
}

/* Responsive Styles */
@media (max-width: var(--phone)) {
  .container {
    width: 100%;
    padding: 10px;
  }

  img {
    height: 80px;
    width: 80px;
  }

  li {
    padding: 8px;
  }
}

@media (min-width: var(--phone)) and (max-width: var(--tablet)) {
  .container {
    width: 100%;
    padding: 15px;
  }

  img {
    height: 90px;
    width: 90px;
  }

  li {
    padding: 9px;
  }
}

@media (min-width: var(--tablet)) and (max-width: var(--laptop)) {
  .container {
    width: 80%;
  }

  img {
    height: 100px;
    width: 100px;
  }

  li {
    padding: 10px;
  }
}

@media (min-width: var(--laptop)) {
  .container {
    width: 70%;
  }

  img {
    height: 100px;
    width: 100px;
  }

  li {
    padding: 10px;
  }
}
